{% extends 'skeleton.html' %}
{% load widget_tweaks %}
{% load load_input %}
{% load static %}

{% block content %}

    <div class="ui container segment">
        <form class="ui success warning error form" enctype="multipart/form-data" method="POST" action="{% url 'Book create' %}">

            {% csrf_token %}

            <div class="ui grid">
                <div class="eight wide column">
                    {% standard_field form.name %}
                    {% date_field form.date %}
                    {% standard_field form.synopsis %}
                    {% standard_field form.front_page_cover %}
                </div>
                <div class="eight wide column">
                    {% standard_field form.isbn %}
                    {% search_field form.author %}
                    {% standard_field form.genres %}
                    <img id="cover_img" class="ui image small" src="#" alt="image avant l'upload">
                </div>
                <div class="wide column">
                    <input type="submit" class="ui positive button" value="Ajouter le livre">
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'js/templates/book/create.js' %}"></script>
    <script>
        $(document).ready(function () {
            
            standard_date('{{ form.date.auto_id }}');
            
            $('#{{ form.front_page_cover.auto_id }}').change(function () {
                readURLforDisplay(this)
            });


            $('.ui.search').search({
                apiSettings: {
                    url: '{% url 'Api author' %}?q={query}',
                    onResponse : function (serverResponse) {

                        var response= {
                            results : []
                        };
                        $.each(serverResponse, function (index, item) {
                            response.results.push({
                                title : item.name + ' ' + item.forename,
                            })
                        });
                        return response;

                    }
                },
            });
        })
    </script>
{% endblock %}
