{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.min.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'Semantic-UI-CSS-master/semantic.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.min.css' %}">

    </head>
    <body>
        <nav class="ui container" style="margin-top: 5px">
            <div class="ui menu">
                <a class="item" href="{% url 'index' %}">
                    <i class="home icon"></i>
                    Home
                </a>

                <div class="right menu">
                    <div class="item">
                        <form id="searchForm" method="GET" action="{% url 'Search' %}">
                            {% csrf_token %}
                            <div class="ui action input" style="width: 100%;">
                                {% render_field searchForm.searchInput id="searchBar" placeholder="Search..." %}
                                <button type="submit" id="submitButton" class="ui small button" disabled><i class="search icon"></i></button>
                            </div>
                        </form>
                    </div>

                    {% if user.is_authenticated %}

                        <div class="item">
                            <div class="ui right labeled icon top left pointing dropdown button">
                                {{ user }}
                                <i class="user icon"></i>

                                <div class="menu">
                                    <div class="item"><a href="#">Mon profil</a></div>
                                    <div class="item"><a href="#">Mes Books</a></div>
                                    <div class="item"><a href="{% url 'Registration logout' %}">Se déconnecter</a></div>
                                </div>

                            </div>
                        </div>


                    {% else %}

                        <a class="item" href="{% url 'Registration login' %}">S'authentifier</a>

                    {% endif %}

                </div>
            </div>
        </nav>

        {% block message %}
        {% endblock %}

        {% block content %}
        {% endblock %}


        <footer>

        </footer>

        <!-- JS -->
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/semantic.min.js' %}"></script>
        <script src="{% static 'Semantic-UI-CSS-master/semantic.js' %}"></script>
        <script src="{% static 'js/templates/skeleton.js' %}"></script>
        <script src="{% static 'js/calendar.min.js' %}"></script>
        <script src="{% static 'js/init_date.js' %}"></script>

        <script>
            $(document).ready(function () {
                $('.ui.dropdown').dropdown();
            })
        </script>

        {% block script %}
        {% endblock %}

    </body>
</html>

