{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.min.css'%}">


    </head>
    <body>
        <nav class="ui container" style="margin-top: 5px">
            <div class="ui menu">
                <a class="item" href="{% url 'index' %}">
                    <i class="home icon"></i>
                    Home
                </a>


                <div class="right menu">
                    <div class="item">
                        <div class="ui transparent icon input">
                            <input id="searchBar" type="text" placeholder="Search...">
                            <i class="search icon"></i>
                        </div>
                    </div>
                    <a class="item" href="{% url 'Registration login' %}">S'authentifier</a>
                </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}


        <footer>

        </footer>

        <!-- JS -->
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/semantic.min.js' %}"></script>
        <script src="{% static 'js/templates/skeleton.js' %}"></script>

    </body>
</html>