
{% extends 'skeleton.html' %}

{%  block content %}
    <div class="ui four column center aligned grid container segment">
        <div class="two column row">
            <div class="column">
                <form class="ui form" method="POST" action="{% url 'Inscription index' %}">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="S'inscrire" class="ui button">
                </form>
            </div>
        </div>
    </div>
{% endblock %}