{% extends 'skeleton.html' %}

{% block content %}
    <div class="ui grid" style="margin: 5px 5px 0 5px ">
        <div class="four wide column">
            <div class="ui container segment">
                <p>JE sais pas</p>
            </div>
        </div>
        <div class="eight wide column">
            <div class="ui container segment">
                <p>JE sais pas</p>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui container segment">
                <p>JE sais pas</p>
            </div>
        </div>
    </div>

{% endblock %}