{% extends 'skeleton.html' %}
{% load load_input %}
{% load static %}

{% block content %}

    <div class="ui container segment">

        <form class="ui success warning error form" method="POST" action="{% url 'Author create' %}">

            {% csrf_token %}

            <div class="ui grid">

                <div class="eight wide column">

                    {% standard_field form.name %}
                    {% standard_field form.forename %}
                    {% standard_field form.nationality %}
                    {% standard_field form.genres %}

                </div>

                <div class="eight wide column">

                    {% date_field form.birthDate required=False %}
                    {% date_field form.deathDate required=False %}

                </div>

                <div class="wide column">

                    <input type="submit" class="ui positive button" value="Ajouter l'auteur">

                </div>

            </div>

        </form>

    </div>

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {

            standard_date('{{ form.birthDate.auto_id }}');
            standard_date('{{ form.deathDate.auto_id }}');
        })
    </script>
{% endblock %}