{% extends 'skeleton.html' %}

{% load load_input %}

{% block content %}

    <div class="ui container segment">

        <div class="ui four column center aligned grid">

            {% if user.is_authenticated %}

                <div class="column">
                    <p>Vous êtes déjà connecté(e)</p>
                    <a href="{%  url 'index' %}">Retourner à l'accueil !</a>
                </div>

            {% else %}

                <div class="two column row">

                    <div class="column">

                        <form class="ui success warning error form" method="POST" action="{% url 'Registration login' %}">

                            {% csrf_token %}

                            {% non_field_error %}
                            {% standard_field form.username display_label_css=True %}
                            {% standard_field form.password display_label_css=True %}

                            <input type="submit" value="Se connecter" class="ui blue submit button">
                        </form>

                    </div>
                </div>

                <div class="two column row">
                    <div class="column">
                        <div class="ui horizontal divider">OR</div>
                    </div>
                </div>
                <div class="tow column row">
                    <div class="column">
                        <a class="ui labeled icon positive button" href="{% url 'Registration sign-in' %}">
                            <i class="edit icon"></i>
                            S'inscrire
                        </a>
                    </div>
                </div>

            {% endif %}

        </div>

    </div>

{% endblock %}