{% extends 'skeleton.html' %}
{% load load_input %}

{%  block content %}

    {% if user.is_authenticated %}

        <div class="ui container segment">
            <div class="ui four column center aligned grid">
                <div class="column">
                    <p>Vous êtes déjà connecté(e) donc inscrit :)</p>
                    <a href="{% url 'index' %}">Retourner à l'accueil !</a>
                </div>
            </div>
        </div>

    {% else %}

        <div class="ui container segment">
            <div class="ui four column grid">
                <div class="two column row">
                    <div class="column">
                        <form class="ui success warning error form" method="POST" action="{% url 'Registration sign-in' %}">

                            {% csrf_token %}

                            {% standard_field form.username %}
                            {% standard_field form.email %}
                            {% standard_field form.password1 display_help_text=False %}
                            {% standard_field form.password2 %}

                            <input type="submit" value="S'inscrire" class="positive ui button">
                        </form>
                    </div>
                    <div class="column">
                        <div class="ui left aligned grid container" >
                            <div class="ui warning message" style="margin-top: 20px">
                                <div class="header">
                                    Votre mot de passe
                                </div>

                                <ul class="list">
                                    <li>Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.</li>
                                    <li>Votre mot de passe doit contenir au minimum 8 caractères.</li>
                                    <li>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</li>
                                    <li>Votre mot de passe ne peut pas être entièrement numérique.</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}
