{% load widget_tweaks %}
{% load load_input %}

{% if display_label_with_class %}

    {% build_label field.label_tag True as label %}

{% else %}

    {% build_label field.label_tag False as label %}

{% endif %}


{% if required %}

    {% if form.is_bound %}

        {% if field.errors %}

            <div class="ui tiny error message">
                    <ul class="list">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
            </div>

            <div class="required field error">

                {{ label }}

                {% if with_action_button %}

                    <div class="ui search">
                          <div class="ui fluid action input error">
                              {% render_field form.author class="prompt" placeholder="Entrer un auteur..." required='' %}

                              <a href="{% url 'Author create' next='Book create' %}" target="_blank" class="ui teal labeled icon button">
                                <i class="icon plus"></i>
                                  Ajouter un auteur
                              </a>
                          </div>
                          <div class="results"></div>
                    </div>

                {% else %}

                    <div class="ui search">
                          <div class="ui icon fluid input error">
                              {% render_field form.author class="prompt" placeholder="Entrer un auteur..." required='' %}

                              <i class="search icon"></i>
                          </div>
                          <div class="results"></div>
                    </div>

                {% endif %}

            </div>

        {% else %}

            <div class="required field success">

                {{ label }}

                {% if with_action_button %}

                    <div class="ui search">
                          <div class="ui  fluid action input success">
                              {% render_field form.author class="prompt" placeholder="Entrer un auteur..." required='' %}

                              <a href="{% url 'Author create' %}" class="ui teal labeled icon button">
                                  <i class="icon plus"></i>
                                  Ajouter un auteur
                              </a>
                          </div>
                          <div class="results"></div>
                    </div>

                {% else %}

                    <div class="ui search">
                          <div class="ui icon fluid input success">
                              {% render_field form.author class="prompt" placeholder="Entrer un auteur..." required='' %}

                              <i class="search icon"></i>
                          </div>
                          <div class="results"></div>
                    </div>

                {% endif %}

            </div>

        {% endif %}

    {% else %}

        {% if display_help_text %}

            {% if field.help_text %}

                <div class="ui tiny warning message">

                    {{ field.help_text }}

                </div>

            {% endif %}

        {% endif %}

        <div class="required field">

            {{ label }}

            {% if with_action_button %}

                <div class="ui search">
                      <div class="ui fluid action input">
                          {% render_field form.author class="prompt" placeholder="Entrer un auteur..." required='' %}

                          <a href="{% url 'Author create' %}" class="ui teal labeled icon button">
                              <i class="icon plus"></i>
                              Ajouter un auteur
                          </a>
                      </div>
                      <div class="results"></div>
                </div>

            {% else %}

                <div class="ui search">
                      <div class="ui icon fluid input">
                          {% render_field form.author class="prompt" placeholder="Entrer un auteur..." required='' %}

                          <i class="search icon"></i>
                      </div>
                      <div class="results"></div>
                </div>

            {% endif %}

        </div>

    {% endif %}

{% else %}

    {% if form.is_bound %}

        {% if field.errors %}

            <div class="ui tiny error message">
                    <ul class="list">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
            </div>

            <div class="field error">

                {{ label }}

                {% if with_action_button %}

                    <div class="ui search">
                          <div class="ui fluid action input error">
                              {% render_field form.author class="prompt" placeholder="Entrer un auteur..." %}

                              <a href="{% url 'Author create' %}" class="ui teal labeled icon button">
                                  <i class="icon plus"></i>
                                  Ajouter un auteur
                              </a>
                          </div>
                          <div class="results"></div>
                    </div>

                {% else %}

                    <div class="ui search">
                          <div class="ui icon fluid input error">
                              {% render_field form.author class="prompt" placeholder="Entrer un auteur..." %}

                              <i class="search icon"></i>
                          </div>
                          <div class="results"></div>
                    </div>

                {% endif %}

            </div>

        {% else %}

            <div class="field success">

                {{ label }}

                {% if with_action_button %}

                    <div class="ui search">
                          <div class="ui fluid action input success">
                              {% render_field form.author class="prompt" placeholder="Entrer un auteur..." %}

                              <a href="{% url 'Author create' %}" class="ui teal labeled icon button">
                                  <i class="icon plus"></i>
                                  Ajouter un auteur
                              </a>
                          </div>
                          <div class="results"></div>
                    </div>

                {% else %}

                    <div class="ui search">
                          <div class="ui icon fluid input success">
                              {% render_field form.author class="prompt" placeholder="Entrer un auteur..." %}

                              <i class="search icon"></i>
                          </div>
                          <div class="results"></div>
                    </div>

                {% endif %}

            </div>

        {% endif %}

    {% else %}

        {% if display_help_text %}

            {% if field.help_text %}

                <div class="ui tiny warning message">

                    {{ field.help_text }}

                </div>

            {% endif %}

        {% endif %}

        <div class="field">

            {{ label }}

            {% if with_action_button %}

                <div class="ui search">
                      <div class="ui fluid action input">
                          {% render_field form.author class="prompt" placeholder="Entrer un auteur..." %}

                          <a href="{% url 'Author create' %}" class="ui teal labeled icon button">
                              <i class="icon plus"></i>
                              Ajouter un auteur
                          </a>
                      </div>
                      <div class="results"></div>
                </div>

            {% else %}

                <div class="ui search">
                      <div class="ui icon fluid input">
                          {% render_field form.author class="prompt" placeholder="Entrer un auteur..." %}

                          <i class="search icon"></i>
                      </div>
                      <div class="results"></div>
                </div>

            {% endif %}

        </div>

    {% endif %}

{% endif %}