{% load widget_tweaks %}
{% load load_input %}

{% if display_label_with_class %}

    {% build_label field.label_tag True as label %}

{% else %}

    {% build_label field.label_tag False as label %}

{% endif %}

{% if required %}

    {% if form.is_bound %}

        {% if field.errors %}

            <div class="ui tiny error message">
                    <ul class="list">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
            </div>

            <div class="required field error">

                {{ label }}

                {% render_field field class="ui input error" required='' %}

            </div>

        {% else %}

            <div class="required field success">

                {{ label }}

                {% render_field field class="ui input success" required='' %}

            </div>

        {% endif %}

    {% else %}

        {% if field.help_text %}

            <div class="ui tiny warning message">
                {{ field.help_text }}
            </div>

        {% endif %}

        <div class="required field">

            {{ label }}

            {% render_field field class="ui input" required='' %}

        </div>

    {% endif %}

{% else %}

    {% if form.is_bound %}

        {% if field.errors %}

            <div class="ui tiny error message">
                    <ul class="list">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
            </div>

            <div class="field error">

                {{ label }}

                {% render_field field class="ui input error" %}

            </div>

        {% else %}

            <div class="field success">

                {{ label }}

                {% render_field field class="ui input success" %}

            </div>

        {% endif %}

    {% else %}

        {% if field.help_text %}

            <div class="ui tiny warning message">
                {{ field.help_text }}
            </div>

        {% endif %}

        <div class="field">

            {{ label }}

            {% render_field field class="ui input" %}

        </div>

    {% endif %}

{% endif %}